In [8]:
% cd ./humidity/tz 
% ls -l

[Errno 2] No such file or directory: './humidity/tz'
/home/sancau/Desktop/easytest2/src/humidity/tz
total 144
-rw-rw-r-- 1 sancau sancau 15936 Jan  6 17:09 1.xlsx
-rw-rw-r-- 1 sancau sancau 47104 Jan  6 16:48 25-90.doc
-rw-rw-r-- 1 sancau sancau 15976 Jan  6 17:09 2.xlsx
-rw-rw-r-- 1 sancau sancau 15982 Jan  6 17:09 3.xlsx
-rw-rw-r-- 1 sancau sancau  7511 Jan  6 16:48 Atlas_25_90_RotronicHygroLogNT_4_20161107_145056.xls
-rw-rw-r-- 1 sancau sancau  7679 Jan  6 16:48 Atlas_25_90_RotronicHygroLogNT_5_20161107_145056.xls
-rw-rw-r-- 1 sancau sancau  7679 Jan  6 16:48 Atlas_25_90_RotronicHygroLogNT_6_20161107_145056.xls
-rw-rw-r-- 1 sancau sancau 23568 Jan  6 16:48 ТЗ на программу по влаге.docx

In [9]:
from collections import namedtuple

import pandas as pd

In [30]:
LogDescriptions = namedtuple('LogDescriptions', ['DT1', 'DT2', 'KT'])
DESC = LogDescriptions('DT1', 'DT2', 'KT')

HUM_MODE = {
    'logs': [
        {
            'file': '1.xlsx',
            'desc': DESC.DT1
        },
        {
            'file': '2.xlsx',
            'desc': DESC.DT2
        },
        {
            'file': '2.xlsx',
            'desc': DESC.KT
        }
    ],
    'target': {
        'hum': 90,
        'temp': 25
    },
    'slice_length': 10,
    'max_deviation': {
        'hum': {
            'positive': 3,
            'negative': 3
        },
        'temp': {
            'positive': 2,
            'negative': 2
        }
    },
    'round_to': 1,
    'md': {
        'hum': [90, 90, 90, 90, 90, 90, 90, 90, 90, 90],
        'temp': [25, 25, 25, 25, 25, 25, 25, 25, 25, 25]
    }
}

In [31]:
def parse_xlsx(data):
    dates = []
    df = pd.DataFrame()
    for item in data:
        file, label = item
        log = pd.read_excel(file, skiprows=56)
        log.columns = ['date', 'time', label+'_hum', label+'_temp', 'crap']
        dates.append(log.date[0].date())
        log.drop(['date', 'time', 'crap'], axis=1, inplace=True)
        df = log if df.empty else pd.merge(df, log, 
                                           left_index=True, 
                                           right_index=True, 
                                           how='inner')
    
    date = max(dates)  # use latest date
    df['date'] = pd.Series([date for i in df.index])
    
    return df


def parse_csv(data):
    raise NotImplementedError('This method is not implemented yet')
    

def mode_valid(mode):
    return all(mode['slice_length'] == len(mode['md'][i]) for i in ['hum', 'temp'])


def calculate(mode_slice):
    pass
    
    
def handle_mode(mode):
    if not mode_valid(mode):
        raise ValueError('Invalid humidity mode data provided')
    
    log = parse_xlsx((log['file'], log['desc']) for log in mode['logs'])
    
    # splits log data in slices of required length
    # check if the test for slice is passed
    # if passed build result dict and return it
    # else try next slice till success or end of data
    # return result dict
    
    return log  # TODO return result dict

In [32]:
handle_mode(HUM_MODE).head()

  DT1_hum DT1_temp DT2_hum DT2_temp KT_hum KT_temp        date
0   88.43    24.84   89.34    24.79  89.34   24.79  2016-11-07
1   88.38    24.87   89.28    24.77  89.28   24.77  2016-11-07
2   88.25    24.86   89.17    24.79  89.17   24.79  2016-11-07
3   88.13    24.84   89.03    24.78  89.03   24.78  2016-11-07
4   88.02    24.83   88.91    24.76  88.91   24.76  2016-11-07